.lang-link {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
}

.lang-link:nth-of-type(1) {
    margin-right: 18px;
    text-decoration: underline;
}

.lang-link:hover{
    opacity: 0.8;
}