.intro__list {
    list-style: none;
    max-width: 690px;
    margin: 2vh 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}