.footer__link {
    margin-top: 18px;
    margin-left: 18px;
    text-decoration: none;
    color: #fff;
    font-family: Inter;
}

.footer__link:hover{
    opacity: 0.8;
}

@media screen and (min-width: 426px) {
    .footer__link {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}