.lead__title {
    margin: 6vh auto 0;
    max-width: 729px;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}