.lead__title {
    margin: 12vh auto 0;
    width: 90%;
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}