.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
    .footer__links {
        flex-direction: column;
        margin-bottom: 48px;
    }
}