.place__paragraph {
    margin-top: -8vmin;
    max-width: 484px;
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    grid-area: paragraph;
}

.place__paragraph:nth-of-type(2) {
    grid-area: text;
}

@media screen and (min-width: 769px) {
    .place__paragraph:nth-of-type(1) {
        margin-top: -2vmin;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0em;
    }
    .place__paragraph:nth-of-type(1) {
        margin-top: 32px;
    }
}