.lead__subtitle {
    margin: 4vh auto 10vh;
    max-width: 640px;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Inter', ‘Arial’, sans-serif;
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}