.cover__overlay {
    text-decoration: none;
    min-width: 320px;
    width: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    padding-bottom: 21%;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}