.lead__caption {
    color: #fff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    align-self: start;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-align: left;
    text-transform: uppercase;
}