.place {
    margin-top: 80px;
    display: grid;
    grid-auto-flow: dense;
    column-gap: 40px;
    grid-template-areas: "title link" "image paragraph" "image text";
}

.place:nth-of-type(1) {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-areas: "title" "link" "image" "image" "paragraph" "text";
    }
}